.rv {
	background-color: #e57c2c;
	color: #fff;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 3;
	position: relative;
	transition: background-color 0.25s;
}

.rv__header, .rv__description {
	position: relative;
	overflow: hidden;
	font-size: 13px;
	line-height: 1.4;
}

.rv__header {
	position: relative;
}

.rv__title {
	font-size: 18px;
	line-height: 22px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rv__title a {
	color: inherit;
	text-decoration: none;
	font-size: 0.9em;
}

.rv__title a:hover {
	text-decoration: underline;
}

.rv__comment {
	color: #f1c22a;
	position: relative;
	font-size: 12px;
	overflow: hidden;
}

.rv__comment a {
	color: #ecf0f1;
}

.rv__comment a:hover {
	color: #fff;
}

.rv__message {
	position: relative;
}

.rv__message_secondary {
	display: none;
}

.rv__title .rv__message {
	padding: 7px 20px 2px;
}

.rv__comment .rv__message {
	padding: 0 20px 7px;
}

.rv__learn-more {
	cursor: pointer;
	border-bottom: 1px dotted currentColor;
	color: #ecf0f1;
}

.rv__learn-more:hover {
	color: #fff;
}

.rv .toggler {
	float: right;
	margin-right: 17px;
	margin-top: 7px;
}

.rv .toggler__bg {
	background-color: #f29a26;
}

.rv .toggler__knob {
	background-color: #e57c2c;
}

.rv input[type="checkbox"]:checked + .toggler__bg {
	background-color: #fff;
	color: #e57c2c;
}

.rv input[type="checkbox"]:checked + .toggler__bg .toggler__knob {
	background-color: #e57c2c;
}

.rv__description {
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	padding: 0 20px;
	background-color: inherit;
	margin-top: -1px;
}

.rv__description a {
	color: #fff;
}

.rv__description em {
	font-style: normal;
	color: #f1c22a;
}

/* Unavailable state */
.rv_unavailable {
	background-color: #bdc3c7;
}

.rv_unavailable .toggler {
	display: none;
}

.rv_unavailable .rv__comment {
	color: #ecf0f1;
}
