.rv {
	background-color: #e57c2c;
	color: #fff;
	flex-grow: 0;
	flex-shrink: 0;
	z-index: 2;
	position: relative;
	transition: background-color 0.25s;
}

.rv-header, .rv-description {
	position: relative;
	overflow: hidden;
	font-size: 13px;
	line-height: 1.4;
}

.rv-header {
	position: relative;
}

.rv-title {
	font-size: 18px;
	padding: 7px 20px 2px;
	line-height: 22px;
	box-sizing: border-box;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.rv-title a {
	color: inherit;
	text-decoration: none;
	font-size: 0.9em;
}

.rv-title a:hover {
	text-decoration: underline;
}

.rv-comment {
	color: #f1c22a;
	position: relative;
	font-size: 12px;
	padding: 0 20px 7px;
	overflow: hidden;
	box-sizing: border-box;
}

.rv-message {
	position: relative;
}

.rv-learn-more {
	cursor: pointer;
	border-bottom: 1px dotted currentColor;
	color: #ecf0f1;
}

.rv-learn-more:hover {
	color: #fff;
}

.rv .toggler {
	float: right;
	margin-right: 17px;
	margin-top: 7px;
}

.rv .toggler__bg {
	background-color: #f29a26;
}

.rv .toggler__knob {
	background-color: #e57c2c;
}

.rv input[type="checkbox"]:checked + .toggler__bg {
	background-color: #fff;
	color: #e57c2c;
}

.rv input[type="checkbox"]:checked + .toggler__bg .toggler__knob {
	background-color: #e57c2c;
}

.rv-description {
	position: absolute;
	left: 0;
	right: 0;
	height: 0;
	overflow: hidden;
	padding: 0 20px;
	background-color: inherit;
	margin-top: -1px;
}

.rv-description em {
	font-style: normal;
	color: #f1c22a;
}

/* Unavailable state */
.rv__unavailable {
	background-color: #bdc3c7;
}

.rv__unavailable .toggler {
	display: none;
}

.rv__unavailable .rv-comment {
	color: #ecf0f1;
}

/* Spinner */
.rv-spinner {
	display: inline-block;
	margin-left: 5px;
}

.rv-spinner__item {
	display: inline-block;
	width: 4px;
	height: 4px;
	background: #fff;
	border-radius: 2px;
	vertical-align: middle;
	animation: rv-spinner 0.7s infinite;
}

.rv-spinner__item:nth-of-type(2) {
	animation-delay: 0.1s;
}

.rv-spinner__item:nth-of-type(3) {
	animation-delay: 0.2s;
}

@keyframes rv-spinner {
	from {
		transform: scale(0);
		opacity: 1;
	}

	to {
		transform: scale(2);
		opacity: 0;
	}
}