@import url(./assets/fonts.css);
@import url(./assets/toggler.css);
@import url(./assets/select-box.css);
@import url(./assets/button.css);
@import url(./assets/global-message.css);

.popup {
	background: #fff;
	font-family: 'PT Sans', Arial, sans-serif;
	font-size: 14px;
	padding: 20px;
	color: #2c3f4f;
	position: relative;
	min-height: 300px;
}

.active-editor {
	padding: 5px;
	text-align: right;
	font-size: 0.8em;
	background: #ecf0f1;
	margin: -20px;
	margin-bottom: 14px;
}

.activity {
	border: 0;
	padding: 0;
	position: relative;
	margin:0 0 20px;
}

.activity label {
	display: block;
	line-height: 1;
	font-size: 1.8em;
}

.activity em {
	display: block;
	font-size: 0.8em;
	line-height: 1;
	font-style: normal;
	color: #95a5a6;
}

.activity .toggler {
	position: absolute;
	right: -3px;
	margin-bottom: -1px;
	z-index: 2;
}

.file-list {
	list-style-type: none;
	display: block;
	margin: 0 0 20px;
	padding: 0;
}

.file-list__item {
	margin-bottom: 20px;
}

.file-list__item:last-child {
	margin-bottom: 0;
}

.file__browser {
	margin-bottom: 4px;
	padding-left: 10px;
}

.file-list__item_user .file__browser {
	/* color: #e57c2c; */
	font-weight: bold;
}

.file__remove {
	display: inline-block;
	margin-left: 10px;
	color: #bf382e;
	cursor: pointer;
	font-style: normal;
	font-weight: normal;
	font-size: 10px;
	line-height: 10px;
	position: relative;
	top: 1px;
	opacity: 0;
	-webkit-transition: opacity 0.2s;
	-moz-transition: opacity 0.2s;
	-ms-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
}

.file__remove:hover {
	color: #e64b3f;
}

.file__remove:before {
	font-family: 'Flat UI Icons';
	content: '\e609';
	display: inline-block;
	padding: 4px;
	margin: -4px;
}

.file-list__item:hover .file__remove {
	opacity: 1;
}

.file__browser-addon {
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 0.7em;
	margin-top: 2px;
	color: #95a5a6;
}

.error-message {
	font-size: 12px;
	background: #e64b3f;
	color: #fff;
	padding: 5px;
	text-align: center;
	margin-bottom: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.error-message a {
	outline: none;
	color: inherit;
}

.error-log-link {
	font-size: 11px;
	text-align: center;
	color: #bdc3c7;
}

.error-log-link > a {
	color: inherit;
}

.error-log-link > a:hover {
	color: #e64b3f;
}

.offscreen {
	position: absolute;
	left: -9999px;
	visibility: hidden;
}

.hidden {
	display: none;
}