.select-box {
	position: relative;
	display: block;
	padding: 7px 30px 7px 10px;
	font-size: 14px;
	font-weight: normal;
	line-height: 1.4;
	border-radius: 3px;
	background: #26bb9d;
	color: #fff;
	cursor: pointer;

	-webkit-transition: background-color 0.5s;
	-moz-transition: background-color 0.5s;
	-ms-transition: background-color 0.5s;
	-o-transition: background-color 0.5s;
	transition: background-color 0.5s;
}

.select-box:hover {
	background-color: #48c9b0;
}

.select-box:after {
	position: absolute;
	top: 42%;
	right: 13px;
	display: inline-block;
	border-color: transparent;
	border-top-color: #fff;
	border-style: solid;
	border-width: 6px 4px;
	content: '';
}

.select-box_active > .select-box__picker {
	display: block;
}

.select-box__picker {
	display: none;
	position: absolute;
	list-style-type: none;
	z-index: 10;
	min-width: 220px;
	max-height: 165px;
	overflow: auto;
	width: 100%;
	left: 0;
	top: 100%;
	padding: 0;
	margin-top: 9px;
	font-size: 14px;
	background-color: #f3f4f5;
	color: #34495e;
	border-radius: 4px;
}

.select-box__picker-item {
	padding: 8px 10px;
	line-height: 1.5;
}

.select-box__picker-item:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.select-box__picker-item:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

.select-box__picker-item:hover {
	background: #e1e4e7;
}

.select-box__picker-item_selected,
.select-box__picker-item_selected:hover {
	background: #95a5a6;
	color: #fff;
}